* {
  margin:0;
  padding:0;
  font-family: 'Roboto Condensed', sans-serif;}


.listHeader {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #009688;
  line-height: 60px;
  height:60px;
  width: 40em;
}

.helper{
  height:30px;
}

.tasks {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 5px 0;
  width: 40em;
  background-color: #E1E2E1;
  
}

h1 {
  margin-top: 10px;
  margin-left: 10px;
  color: #eee;
}

.inline>div {
  display: inline-block;
}

#new-item {
  position: relative;
  width: 40em;
  height: 3em;
  text-align: left;
  padding: 0 1em;
  line-height: 2em;
  vertical-align: middle;
  border:none;
  border-radius: 5px;
}

.button-inline {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
  padding: 0 1em;
  margin: 1px;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #eee;
  background-color: #009688;
  border-radius: 5px;
}
.button-inline:hover {
  background-color: #00675b;
  cursor: pointer;
}

.button-inline:active {
  background-color:#009688;
}

.button-small {
  width: 1em;
}

#list>.button-small{
  background-color: none;
}

.taskline {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  
}

.item{
  border-bottom: 1px solid #009688;
  margin: 1px 10px; 
}

.taskBody {
  position: relative;
  width: 475px;
  text-align: left;
  padding: 0 1em;
  line-height: 2em;
  color:#333;

}

.buttonLine {
  margin: 10px 10px; 
}

#success {
  /*display: none;*/
  width: 35em;
  height: 2em;
  line-height: 2em;
  text-align: left;
  margin-left: 10px;
  color: #999; 
}

.point-button {
  background-color: inherit;

}

.point-button:hover {
  background-color: inherit;
}

.point-button:active {
  background-color: inherit;
}

#list{
  min-height: 100px;
}