<!doctype html>
<html>
	<head>
		<title> </title>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://kit.fontawesome.com/487c3dfe25.js"></script>
		<script src="/vue.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="listHeader">
				<h1>
				Todo List
				</h1>
			</div>
			<div class="tasks" id="toDoList">
				<div class="row">
					<div id="success" v-if="saveMessage">saved to file</div>
				</div>
				<div class="col-sm-8 taskline">
					<input type="text" id="new-item" @keyup.enter="addTask()" v-model="taskBody" placeholder="new task" class="form-control">
					<div class="btn btn-primary button-inline button-small" id="add-button" v-on:click="addTask">
						+
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<div id="list">
							<div class="row item inline" v-for="(task, index) in tasks" v-bind:key="index">
								<div class="taskBody" >
									{{ task.body }}
								</div>
								<div class="point-button button-inline button-small">
									<i class="fas fa-highlighter" v-bind:style="{ color: activeColor}"></i>
								</div>
								<div class="delete-button button-inline button-small" v-on:click="deleteTask(index)">
									&times;
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 buttonLine">
								<div class="btn btn-primary button-inline" id="save-button" v-on:click="save">
									Save
								</div>
								<div class="btn btn-primary button-inline" id="load-button" v-on:click="load">
									Load
								</div>
							</div>
							<div class="col-sm-8">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/tasksActionsVue.js"></script>
</html>